/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Navbar styles */
nav {
  width: 100%;
  color: black;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: background 0.3s ease;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.logo-nav {
  width: 100px;
  /* margin-inline-start: 5%; */
}

nav ul li {
  display: inline-block;
  color: #FFF;
  list-style: none;
  margin: 5px 20px;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s, border-bottom 0.3s;
}

nav ul li:hover {
  color: #ff9900;
  border-bottom: 0.2rem solid #ff9900;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

.dark-nav {
  background: #233243;
  transition: background 0.5s;
  color: #fff;
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: #000;
  cursor: pointer;
  z-index: 101;
}

.menu-icon:hover {
  color: #ff9900;
}
.steps-page-menu li {
  color: black !important;
}

.enquire-btn {
  background-color: #ffcc00;
  color: #000;
  font-weight: 700;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.enquire-btn:hover {
  background-color: #000;
  color: #ffcc00;
}

/* Mobile view */
@media (max-width: 840px) {
  nav {
    padding: 15px 20px;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #111;
    z-index: 100;
    width: 250px;
    padding-top: 70px;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .mobile-menu.show-mobile-menu {
    transform: translateX(0);
  }

  .mobile-menu.hide-mobile-menu {
    transform: translateX(100%);
  }

  nav ul li {
    display: block;
    margin: 25px 20px;
    text-align: left;
  }

  .menu-icon {
    display: block;
  }
}
